@import '../style.scss';


.testimonial{  position: relative;left:-5%;
.test-item{background-color: #fff;border-radius: 0.6rem;padding:1.5rem;position: relative;border-bottom-left-radius: 0;text-align: left;

    .ant-col-xs-24{padding-bottom: 0;}
}

.test-item:before{
    content: "";border-left: 0 solid transparent;border-right: 55px solid transparent;border-top: 50px solid #fff;
    position: absolute;top: 100%;left: 0;}

.test-item > p{line-height: 25px;}

// .testi-info{display: flex;align-items: center;}

h3{color: $primarycolor !important;}
// img{width: 128px;margin-top: -15px;margin-left: 30px;}
}


@media screen and (max-width: 600px) {
   .testimonial { 
    .test-item::before {border-right: 35px solid transparent;border-top: 25px solid #fff;}
   }
  
}
    
@media screen and (max-width: 1200px) {
    .testimonial{left: 0;
       
        .test-item:before{
            border-right: 35px solid transparent;
            border-top: 10px solid #fff;}
     }
 

}



