@import '../../App.scss';

.videotestimonial {
   background: $tertiarycolor;position: relative;
    
h1,h5{color:#fff !important;text-align: center;}

}


@media screen and (max-width: 600px) {
	  
    .videotestimonial { padding: 32px 11px;}
    .videotestimonial{
        .test-video {
            width: 100%;}
            
    }
}


    
@media screen and (max-width: 1200px) {


}