@import "../../App.scss";


.highlights{

.ant-card-meta-title{ font-weight: 700;font-size: 30px;}
.ant-card-meta-description{text-transform: uppercase;color:$primarycolor;font-size: 12px;}
.ant-card-body {padding: 24px 0;}

img{width: 120px;} // margin: 0 auto;

}
