@import '../../App.scss';

.cform {background: #f6f6f6;}

.cform {
h1,h5{text-align: center;}
.ant-input-affix-wrapper{padding: 12px;border-radius: 14px;}
 .ant-select:not(.ant-select-customize-input) .ant-select-selector{
    height:48px;border-radius: 14px;padding: 6px 14px;
}
textarea.ant-input{
     @extend .ant-input-affix-wrapper;
    height: 120px;resize: none;}
}

