@import '../../App.scss';


Header{
    display: flex;justify-content: space-between;background: $white !important;border-bottom: 2px solid #EBEBEB;
  }


  .logo img{width: 100px;}

  .ant-menu-horizontal{border-bottom: none !important;}
  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {background-color: #fff !important;}
  .ant-btn:empty{display: none;}
  .ant-menu-item{color: $primarycolor !important;}
  // .ant-menu-item:hover{color: $tertiarycolor;}
 

  .ant-menu-title-content {
  .primarybtn, .secondarybtn {padding: 15px !important;}
   .secondarybtn .ant-space-align-center{margin-top: -12px;}
  }

  @media screen and (max-width:1200px) {
    .ant-menu-item{padding: 0 10px !important;}


  }


 @media screen and (min-width:220px) and (max-width:500px) {
  .ant-layout-header {
    padding: 0 11px;  
 }
}